<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

    <head profile="http://gmpg.org/xfn/11">
        <title>{pyro:template:title}</title>
        {pyro:theme:partial name="metadata"}
        {pyro:theme:css file="style.css"}
        {pyro:theme:css file="inner-style.css"}
    </head>
    <body>
        <div id="main-container">
            <div id="header" class="container">
                <div id="search">
                </div>
                <div id="logo"></div>           
                <div id="main-menu">
                    <div class="left"></div>
                    <div class="mid">
                        <ul>
                        {pyro:navigation:links group="header"}
                            <li class="menu-item">
                                <a href="{url}" class="{class}">
                                    <span class="list-left left"></span>
                                    <span class="list-mid mid">{title}</span>
                                    <span class="list-right right"></span>
                                </a>
                            </li>
                        {/pyro:navigation:links}
                        </ul>
                    </div>
                    <div class="right"></div>
                
                </div>
            </div>
            <div id="content">
                <div id="main" class="inner-page">
	                <div id="inner-page-latest">
	                
	                </div>
                    <div id="inner-content-holder">
		                <div class="links inner-left">
		                    <a href="/mariner_certificates">
			                    <div class="content">
			                        Verify Certificate
			                    </div>
		                    </a>
		                </div>
		                <div>
	                        <div id="message-container">
	                            {pyro:session:messages success="success-box" notice="notice-box" error="error-box"}
	                        </div>
	                        <div id="content-holder" class="inner-content-holder">
	                            <div>
	                                {pyro:template:body}
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer" class="container">
                <div class="text">
                    COPYRIGHT &copy; 2008 <span>MARINERS' POLYTECHNIC TRAINING CENTER</span>
                </div>
                <ul>
                {pyro:navigation:links group="header"}
                    <li class="menu-item">
                        <a href="{url}" class="{class}">
                            {title}
                        </a>
                    </li>
                {/pyro:navigation:links}
                </ul>
            
            </div>              
        </div>
    </body>
</html>
