<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

	<head profile="http://gmpg.org/xfn/11">
		<title>{pyro:template:title}</title>
		{pyro:theme:partial name="metadata"}
		{pyro:theme:css file="style.css"}		
	</head>
	<body>
		<div id="main-container" class="container">
			<div id="header" class="container">
				<div id="search">
				</div>
				<div id="logo"></div>			
				<div id="main-menu">
					<div class="left"></div>
					<div class="mid">
						<ul>
						{pyro:navigation:links group="header"}
							<li class="menu-item">
								<a href="{url}" class="{class}">
									<span class="list-left left"></span>
									<span class="list-mid mid">{title}</span>
									<span class="list-right right"></span>
								</a>
							</li>
						{/pyro:navigation:links}
						</ul>
					</div>
					<div class="right"></div>
				
				</div>
			</div>
			<div id="content" class="container">
				<div id="model-container">
				
				</div>
				<div id="main">
					<div id="message-container">
						{pyro:session:messages success="success-box" notice="notice-box" error="error-box"}
					</div>
					<div class="modules">
						{pyro:template:body}
						{pyro:template:partial name="test_container"}
					</div>
					<div class="modules">
					</div>
				</div>
				<div id="links-container">
					{pyro:theme:partial name="menu-modules"}
				</div>
			</div>
			<div id="footer" class="container">
			
			</div>				
		</div>
	</body>
</html>
