<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>New Template</title>
    {pyro:theme:css file="inner-style.css"}       
</head>
<body>
	<div id="main">
		<div id="header">
			<div id="logo">
			{pyro:theme:image file="logo.png" alt="Fun!"}
			</div>		
			<div id="menu">
				<div class="left"></div>
				<div class="mid">
				<ul>
					{pyro:navigation:links group="header"}
					<li class="menu-item">
				        <a href="{url}" class="{class}">
				            <span class="list-left left"></span>
				            <span class="list-mid mid">{title}</span>
				            <span class="list-right right"></span>
				        </a>
				    </li>
					{/pyro:navigation:links}
				</ul>
			    </div>
			    <div class="right"></div>
			</div>
			<div id="content">
				<div id="latest-news">
					{pyro:widgets:area slug="latest_news"}
				</div>
				<div id="left">
					<a href="<?= base_url()?>mariner_certificates" class="verify">
						
					</a>
					<a href="<?= base_url()?>gallery" class="gallery">
						<span>
							Gallery
						</span>
					</a>
				</div>
				<div id="right">
					<div id="content-holder">
						{pyro:template:body}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>