<div class="links certificate">
	<a href="/mariner_certificates">
		<span class="content">
			Verify Certificate
		</span>
	</a>
</div>
<div class="links gallery">
	<div class="content">
		Gallery
	</div>

</div>
<div class="links right-links announcement green">
	<div class="content">
		Announcements
	</div>
</div>
<div class="links right-links course-offered green">
	<div class="content">
		Courses Offered
	</div>
</div>
<div class="links right-links find-us green">
	<a href="/contact" class="content>
		<span>
			Find Us
		</span>
	</a>
</div>
