<a href="<?= base_url() ?>mariner_certificates">
	<div class="links certificate">
			<span class="content">
			</span>
	</div>
</a>
<a href="<?= base_url() ?>galleries">
	<div class="links gallery">
		<div class="content">
			Gallery
		</div>
	
	</div>
</a>
<a href="<?= base_url() ?>announcements">
	<div class="links right-links announcement green">
		<div class="content">
			Announcements
		</div>
	</div>
</a>
<a href="<?= base_url() ?>courses-offered">
	<div class="links right-links course-offered green">
		<div class="content">
			Courses Offered
		</div>
	</div>
</a>
<a href="<?= base_url() ?>contact">
	<div class="links right-links find-us green">
		<div class="content">
			Find Us
		</div>
	</div>
</a>
