<div id="carousel">
    <ul>
        <li>
            {pyro:theme:image:slide-image file="slide-image/img1.jpg" alt="Fun!"}
        </li>
        <li>
            {pyro:theme:image:slide-image file="slide-image/img2.jpg" alt="Fun!"}
        </li>
        <li>
            {pyro:theme:image:slide-image file="slide-image/img3.jpg" alt="Fun!"}
        </li>
        <li>
        	{pyro:theme:image:slide-image file="slide-image/img4.jpg" alt="Fun!"}
        </li>
        <li>
        	{pyro:theme:image:slide-image file="slide-image/img5.jpg" alt="Fun!"}
        </li>
        <li>
        	{pyro:theme:image:slide-image file="slide-image/img6.jpg" alt="Fun!"}
        </li>
        <li>
        	{pyro:theme:image:slide-image file="slide-image/img7.jpg" alt="Fun!"}
        </li>
        <li>
        	{pyro:theme:image:slide-image file="slide-image/img8.jpg" alt="Fun!"}
        </li>
        <li>
        	{pyro:theme:image:slide-image file="slide-image/img9.jpg" alt="Fun!"}
        </li>
        <li>
        	{pyro:theme:image:slide-image file="slide-image/img10.jpg" alt="Fun!"}
        </li>
        <li>
        	{pyro:theme:image:slide-image file="slide-image/img11.jpg" alt="Fun!"}
        </li>
        <li>
        	{pyro:theme:image:slide-image file="slide-image/img12.jpg" alt="Fun!"}
        </li>
        <li>
        	{pyro:theme:image:slide-image file="slide-image/img13.jpg" alt="Fun!"}
        </li>
        <li>
        	{pyro:theme:image:slide-image file="slide-image/img14.jpg" alt="Fun!"}
        </li>
        <li>
        	{pyro:theme:image:slide-image file="slide-image/img15.jpg" alt="Fun!"}
        </li>
    </ul>
</div> 