<div id="carousel">
    <ul>
        <li>
            {pyro:theme:image:slide-image file="slide-image/left-model.png" alt="Fun!"}
        </li>
        <li>
            {pyro:theme:image:slide-image file="slide-image/dolphin.png" alt="Fun!"}
            <!-- <img alt="" src="images/muonline.gif" width="733" height="394" /> -->
        </li>
        <li>
            {pyro:theme:image:slide-image file="slide-image/ship.png" alt="Fun!"}
            <!-- <img alt="" src="images/muonline.gif" width="733" height="394" /> -->
        </li>        
    </ul>
</div> 