@CHARSET "UTF-8";
body {
    background: url("../img/content-bg.png") repeat-x scroll -2px 104px transparent;
    margin: 0;
    padding: 0;	
}

#main {
    min-width: 1024px;
    padding-top: 35px;	
}

/*  GLOBAL  */

#left,
#right {
	float: left;
	min-height: 20px;	
}

#left {
    background: url("../img/left-model.png") no-repeat scroll 0 0 transparent;
    height: 402px;
    width: 404px;
}

#right {
	width: 620px;	
}

#content {
    background: url("../img/content-bg.png") repeat-x scroll 0 3px transparent;
    clear: both;
    min-height: 300px;
    padding: 30px 10px 10px;
    width: 600px;
}

#content .left,
#content .right {
	float: left;
	width: 295px;
	background: pink;
	min-height: 200px;
}

#content .right {
    margin-left: 10px;	
}
/*  END GLOBAL */
/*  MENU  */
#menu {
    float: left;
    height: 66px;
    position: relative;
    top: 21px;
    width: 630px;
    z-index: 30;
}

#menu .left,
#menu .right {
    float: left;
    height: 51px;
    width: 19px;
}

#menu .left {
    background: url("../img/menu-left.png") no-repeat scroll 0 0 transparent;
}

#menu .mid {
    background: url("../img/menu-mid.png") repeat-x scroll 0 0 transparent;
    float: left;
    padding-bottom: 20px;
    padding-top: 18px;
}

#menu .mid ul {
    margin: 0;
    padding: 0;
}

#menu .right {
    background: url("../img/menu-right.png") no-repeat;
}

#menu li {
    float: left;
    list-style: none outside none;
    padding: 5px;
}

#menu li a {
    color: #333333;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

#menu li a:hover {
    color: #FFFFFF;
    display: block;
    margin-top: -10px;
}

#menu li a .list-left,
#menu li a .list-mid,
#menu li a .list-right {
    background: none repeat scroll 0 0 transparent;
    padding-top: 0;
}

#menu li a:hover .list-left {
    background: url("../img/active-menu-left.png") no-repeat scroll 0 0 transparent;
    width: 7px;
}

#menu li a:hover .list-mid {
    background: url("../img/active-menu-mid.png") repeat-x scroll 0 0 transparent;
    padding: 10px 6px 18px;
}

#menu li a:hover .list-right {
    background: url("../img/active-menu-right.png") no-repeat;
}
/*  END MENU  */
#links-container {
    float: left;
    margin-top: -45px;
    width: 1045px;
}

#links-container .links {
    float: left;
    height: 209px;
    width: 210px;
}

#links-container .links:hover {
    margin-top: -10px;
}

#links-container .links .content {
    color: #FFFFFF;
    font-family: arial;
}

#links-container .certificate {
	background: url("../img/modules/certificate.png") no-repeat;
}

#links-container .certificate a {
    display: block;
    text-indent: -20000px;
}

#links-container .gallery {
    background: url("../img/modules/gallery.png") no-repeat scroll 0 0 transparent;
    width: 198px;
}

#links-container .links .content {
    font-size: 24px;
    margin-left: 16px;
    margin-top: 65px;
    text-align: center;
    width: 148px;
}

#links-container .links a.content {
    display: block;
    text-decoration: none;
    width: 171px;	
}

#links-container .course-offered .content {
	width: 126px;
}

#links-container .green {
    background: url("../img/modules/default-green.png") no-repeat scroll 0 0 transparent;
}

#links-container .announcement:hover {
    background: url("../img/modules/announcement.png") no-repeat scroll 0 0 transparent;
    width: 214px;
}

#links-container .course-offered:hover {
    background: url("../img/modules/course-offered.png") no-repeat scroll 0 0 transparent;
}

#links-container .find-us:hover {
    background: url("../img/modules/find-us.png") no-repeat scroll 0 0 transparent;
    width: 215px;
}