/*@import 'reset.css';
@import 'typo.css';
@import 'global.css';*/

html, body {
    font-family: arial,tahoma,sans-serif;
    margin: 0;
    padding: 0;
	font-size:14px;
	min-width: 1024px;
}

#main-container {
    background: url("../images/background.png") repeat-x scroll 0 0 transparent;
    min-height: 708px;
    width: 100%;
}

.container {
	width: 1024px;
}

#header {
	min-height: 150px;
}

#content {
	float: left;
	width: 100%
}

#search {
    background: url("../images/search-bg.png") no-repeat scroll -1px 1px transparent;
    float: right;
    height: 199px;
    position: relative;
    width: 328px;
    z-index: 20;
}

#logo {
    background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 179px;
    position: absolute;
    width: 453px;
    z-index: 20;
}

#main-menu {
    height: 50px;
    left: 258px;
    position: absolute;
    top: 99px;
    z-index: 30;
}

#main-menu .left,
#main-menu .right {
    float: left;
    height: 51px;
    width: 19px;
}

#main-menu .left {
    background: url("../images/menu-left.png") no-repeat scroll 0 0 transparent;
}

#main-menu .mid {
    background: url("../images/menu-mid.png") repeat-x scroll 0 0 transparent;
    float: left;
    padding-bottom: 20px;
    padding-top: 18px;
}

#main-menu .mid ul {
    margin: 0;
    padding: 0;
}

#main-menu .right {
	background: url("../images/menu-right.png") no-repeat;
}

#main-menu li {
    float: left;
    list-style: none outside none;
    padding: 5px;
}

#main-menu li a {
    color: #333333;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

#main-menu li a:hover {
    color: #FFFFFF;
    display: block;
    margin-top: -8px;
}

#main-menu li a .list-left,
#main-menu li a .list-mid,
#main-menu li a .list-right {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
}

#main-menu li a:hover .list-left {
    background: url("../images/active-menu-left.png") no-repeat scroll 0 0 transparent;
    width: 7px;
}

#main-menu li a:hover .list-mid {
    background: url("../images/active-menu-mid.png") repeat-x scroll 0 0 transparent;
    padding: 17px 5px 12px;
}

#main-menu li a:hover .list-right {
	background: url("../images/active-menu-right.png") no-repeat;
}

#model-container {
    background: url("../images/dolphin.png") no-repeat scroll 0 22px transparent;
    min-height: 404px;
    position: absolute;
    width: 373px;
    z-index: 200;
}

#main {
    color: #273F04;
    line-height: 18px;
    margin-left: 90px;
    overflow: hidden;
    position: relative;
    top: -49px;
}

#main-content-holder {
    background: url("../images/green-back.png") repeat-x scroll 0 0 #A8EA44;
    float: left;
    min-height: 300px;
    padding-bottom: 27px;
    padding-left: 274px;
    padding-top: 31px;
    width: 100%;
}

#main .modules {
    float: left;
    margin-left: 10px;
    padding: 10px;
    width: 300px;
}

#content-holder {
    background: url("../images/separator.png") repeat-y scroll 331px 0 transparent;
    float: left;
    min-height: 290px;
    width: 660px;
}

#content-holder.inner-content-holder {
	background: none;
}

.latest_news h3 {
	display: none;
}

#main .modules h2,
.content-heading a {
    color: #F4FF81;
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    text-align: left;
    text-decoration: none;
}

#links-container {
    float: left;
    margin-top: -50px;
    min-height: 150px;
    position: relative;
    z-index: 200;
}

.links {
    background: url("../images/links.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 203px;
}

.links a {
    display: block;
    height: 185px;
    margin-left: 9px;
    margin-top: 10px;
    text-decoration: none;
    width: 170px;
}


#links-container .links:hover {
    height: 231px;
    margin-top: -50px;
}

.right-links {
    background-image: url("../images/right-links.png");
    width: 203px;
}

.certificate {
	width: 203px;
}

.certificate:hover {
	background-image: url("../images/cert.png");
	width: 203px;
}

#links-container .gallery {
    background-image: url("../images/gallery-default.png");
    width: 184px;
}

#links-container .gallery .content {
    margin-left: 17px;
    width: 132px;
}

#links-container .gallery:hover {
	background-image: url("../images/gallery.png");
}

.announcement:hover {
	background-image: url("../images/announcement.png");
}

.course-offered:hover {
	background-image: url("../images/course-offered.png");
}

.find-us:hover {
	background-image: url("../images/find-us.png");
}

#right-container {
	width: 682px;
}

.links .content {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    margin-left: 19px;
    margin-top: 86px;
    text-align: center;
    width: 145px;
}

.links a .content {
	display: block;
	height: 110px;
	margin: 0;
	padding-top: 75px;
	width: 170px;
}

.links:hover a {
	margin-top: -50px;
}

.links:hover a .content{
	margin-left: 0;
}

.links:hover .content {
    height: 55px;
    margin: 87px auto 0 20px;
}

#footer {
    background-color: #FFFFFF;
    clear: both;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-top: 15px;
    width: 100%;
}

#footer .text {
	color: #72CB2E;
}

#footer ul {
	float: left;
}

#footer ul li {
    float: left;
    list-style: none outside none;
    margin-right: 10px;
}

#footer ul li a {
    color: #72CB2E;
    text-decoration: none;
}

#footer ul li a:hover {
	color: #F4FF81;
}

